.background-app{
     height:95.5vh;
     width:100%;
     background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0, .4)), url(../assets/images/trivia3.jpg);
     background-size: cover;
     background-position: center;
     position: absolute;
 }