.background-app{
     height:95.5%;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0, .4)), url(../assets/images/trivia3.jpg);
    //background-color: rgb(4, 21, 70);
     background-size: cover;
//     background-position: center;
     position: absolute;
//     font-family: sans-serif;
 }