::ng-deep .p-dialog .p-dialog-header  {
    background-color: transparent;
}
::ng-deep .p-dialog .p-dialog-content  {
    background-color: transparent;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;

    .game-over{
        align-self: flex-end;  
    }
}

.game-results { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    width: 100%; 
    text-align: center; 
    min-height: 400px;  
    align-items: center; 
    color:white;
} 

.footer { 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    width: 100%; 
    text-align: center; 
    // min-height: 400px;  
    align-items: center; 
} 

.gameover {width:750px;
    height: auto;
    padding-top: 60px;
    background: none;}

.gameover p {margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12rem;
    // font-family: 'Black Ops One', cursive;
    line-height: 120px;
    text-align: center;
    text-shadow: 5px 5px #000000;
    color:rgb(196, 207, 40);}