.answers_container{
    display: flex;
    flex-flow: row wrap; // make flexbox able to go to next rows.
    position: relative;
    top:20rem;
    width: 70%;   
    margin: auto;
    
    &--item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 40%; /* <-- adjusting for margin */
        max-width:50%;
        font-size:2rem; 
        margin:1.5rem;
        padding: 1rem 0.5rem;
        cursor: pointer;
        background-color: black;
        position: relative;
        color:white;
        @media screen and (max-width: 800px) {
           max-width:85%; // tell item to take all the space
        }
            &:hover{ 
                //background-image: linear-gradient(to left, #271616,rgb(48, 5, 5));
                border-color: rgb(87, 141, 85)  
            }
    }
               
}

fieldset{
    word-wrap: break-word;
    overflow: hidden;
    padding:2rem;
    height:16rem;
    border-width: 1.5px;
    border-color: rgb(207, 207, 209);
    box-shadow: 10px 12px 0.5rem rgba(0,0,0,0.5);
    border-radius: 2.5rem;
}


.question-container{
    display:flex;
    justify-content: flex-end;
    width: 70%;   
    position: relative;
    top:15rem;
    margin: auto;
        .question{ 
            //text-align: center;
            color: white;
            margin-right: auto;
        }
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top:24rem;


}
// a.btn{
//     display:inline-block;
//     padding:0.3em 1.2em;
//     margin:0 0.3em 0.3em 0;
//     border-radius:2em;
//     box-sizing: border-box;
//     text-decoration:none;
//     font-family:'Roboto',sans-serif;
//     font-weight:300;
//     text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
//     color:#FFFFFF;
//     background-color:#4eb5f1;
//     text-align:center;
//     transition: all 0.2s;
//     cursor: pointer;
// }
// a.btn:hover{
//     background-color:#4095c6;
//     border-color: rgb(207, 18, 18);

//     }
    a.btn{
        display:inline-block;
        border:0.1em solid #000000;
        padding:0.46em 1.6em;
        margin:0 0.2em 0.2em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#000000;
        text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
        background-color:#FFFFFF;
        text-align:center;
        transition: all 0.15s;
        background-color:#42cc8c;
    }

    a.btn:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    border-color:#FFFFFF;
    color:#FFFFFF;
}


#check {
    fill: none;
    stroke: green;
    stroke-width: 20;
    stroke-linecap: round;
    stroke-dasharray: 180;
    stroke-dashoffset: 180;
    animation: draw 2s infinite ease;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }